* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
}
.container {
  display: grid;
  grid-template-rows: 80vh repeat(5, max-content);
  grid-template-columns: repeat(6, 1fr);
}
.header {
  background-color: #000;
  grid-column: 1 /-1;
  background-image: linear-gradient(to bottom, #4d4c4c4f, #000),
    url(./pic/pic-leg.jpg);
  background-size: cover;
  display: grid;
  grid-template-rows: repeat(3, min-content);
  gap: 20px;
  justify-content: center;
  align-content: center;
  text-align: center;
}
@media screen and (max-width: 540px) {
  .header {
    background-position-x: 10%;
  }
}
.header-one {
  font-size: 30px;
  color: white;
}
.header-two {
  color: white;
  text-transform: uppercase;
  font-size: 40px;
}
.header-text {
  color: orange;
  text-transform: uppercase;
}
.header-btn {
  padding: 20px 30px;
  color: white;
  border-radius: 5px;
  background-color: orange;
  border: 1px solid orange;
  font-family: sans-serif;
  font-size: 14px;
  cursor: pointer;
  transition: all 0.4s;
  justify-self: center;
}
.header-btn:hover {
  background-color: white;
  color: orange;
}
/* story section */
.story {
  grid-column: 1/-1;
}

.section-title {
  text-align: center;
  padding: 25px;
  font-size: 27px;
  color: orange;
}
.section-title:before,
.section-title:after {
  background-color: #000;
  content: "";
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 5%;
}
.section-title:before {
  right: 0.1rem;
  margin-left: -50%;
}
.section-title::after {
  left: 0.5rem;
  margin-right: -50%;
}
.story-images {
  display: grid;
  gap: 10px;
  padding: 20px;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

.image {
  width: 100%;
  height: 250px;
  border-radius: 10px;
}
@media screen and (max-width: 690px) {
  .image-4 {
    grid-column: 2 / 3;
  }
}
@media screen and (max-width: 400px) {
  .image-4 {
    grid-column: auto;
  }
}
.service {
  grid-column: 2/6;
}
.services-section {
  display: grid;
  grid-template-rows: repeat(2, 250px);
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  gap: 50px;
  grid-auto-rows: 250px;
  grid-row-gap: 50px;
  padding-bottom: 70px;
}
.services-img {
  width: 100%;
  height: 80%;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
}
.service-text {
  text-align: center;
  font-size: 19px;
}
.text {
  font-size: 14px;
  margin-top: 0.5rem;
}
.reserve {
  grid-column: 1/-1;
}
.reserve-section {
  display: grid;
  grid-template-columns: 50px repeat(4, 1fr) 50px;
  grid-template-rows: 1fr;
  padding: 55px;
  text-align: center;
  background-image: linear-gradient(to bottom, #4d4c4c4f, #000),
    url(./pic/resturant1.jpg);
  background-size: cover;
  background-position: center;
}
@media screen and (max-width: 525px) {
  .reserve-section {
    grid-template-columns: 15px repeat(4, 1fr) 15px;
  }
}
.right {
  background-color: #000000a1;
  color: rgb(255, 255, 255);
  grid-column: 2/3;
  display: grid;
  grid-template-rows: 2fr 1fr repeat(2, 0.5fr) 2fr;
  padding: 15px;
}
.left-title,
.reserve-branch {
  color: goldenrod;
  font-family: "Ephesis", cursive;
}
.parantes {
  color: goldenrod;
}
.order-text {
  font-family: "Ephesis", cursive;
}
.left {
  background-color: rgba(255, 255, 255, 0.635);
  grid-column: 3/6;
  display: grid;
  grid-template-rows: 0.5fr 1fr 0.5fr 2fr;
  padding: 10px;
}

.left-box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.leftbox-img {
  width: 100%;
  height: 120px;
  clip-path: circle(30% at 50% 50%);
}
@media screen and (max-width: 675px) {
  .reserve-section {
    padding: 10px 0px;
  }
  .left {
    font-size: 12px;
  }
  .right {
    font-size: 13px;
  }
}

.gallery {
  grid-column: 1/-1;
}
.gallery-section{
display: grid;
grid-template-columns: repeat(3, 1fr);
grid-template-rows: repeat(3,280px);
grid-template-areas: "gallery_4 gallery_4 gallery_1""gallery_5 gallery_2 gallery_1" "gallery_5 gallery_3 gallery_3 ";
padding: 20px 50px;
gap: 1rem;
}
@media screen and (max-width: 680px) {
 .gallery-section{
  grid-template-areas: "gallery_4 gallery_4""gallery_1 gallery_5""gallery_2 gallery_2" "gallery_3 gallery_3 ";
  grid-template-columns:repeat(2,1fr) ;
  grid-template-rows: repeat(4,280px);
 }
}
.image-gallery{
width: 100%;
border-radius: 15px;
background-position: center;
background-size: cover;
background-repeat: no-repeat;
}
.gallery1{
background-image: url("./pic/gallery1.jpg");
grid-area: gallery_1;
}
.gallery2{
  background-image: url("./pic/gallery2.jpg");
  grid-area: gallery_2;
}
.gallery3{
  background-image: url("./pic/gallery3.jpg");
  grid-area: gallery_3;
}
.gallery4{
  background-image: url("./pic/gallery0foghi.jpg");
  grid-area: gallery_4;
}
.gallery5{
  background-image: url("./pic/gallery.amodi.jpg");
  grid-area: gallery_5;
}
.footer {
  grid-column: 1/-1;
  margin: 1rem 0;
  border-top: 1px solid black;
  background-color: whitesmoke;
  text-align: center;
  gap: 7px;
  padding: 35px;
}
.footer-section{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(240px,1fr));
  grid-template-rows: 1fr;
}
ul{
  list-style: none;
}
li{
  margin-top: 15px;
  cursor: pointer;
  font-size: 18px;
}
.footer-title{
  color: orange;
}
.copy{
  margin-top: 1rem;
  font-size: 12px;
  text-align: center;
}
.copy-text{
  color: orange;
}
li:hover{
  color: orange;
  transition: all 0.4s;
}
.socials:hover{
  color: rgb(91, 91, 223);
  transition: all 0.4s;
}
@media screen and (max-width: 580px) {
  .footer-section{
    text-align: start;
  }
 }